<h1 class="t-h1" style="text-align: center;background: #2b2b77;padding: 0.5em 0;color: #fff;">
    <%= __('BTF Copy Trade Platform') %></h1>
<div class="page-flex__main">
    <div class="block block_standard" style="padding: 20px 30px;text-align: left;">
        <h2 class="t-h2">
            <%= __('Make a huge profit by copying professional traders') %> </h2>
        <div class="t-section t-section_no-border">
            <div class="block-flex block-flex--top copytrade">
                <div class="block-flex__text copytrade__text">
                    <p class="t-p">
                        <%= __('Join the League of smart investors with BTF CopyTrade – a social trading platform that allows you to follow the selected professionals’ strategies, automatically copy the leading Traders of our community, and gain fabulous profits. When they make profit, you make profit too!') %>
                    </p>
                    <p class="t-p">
                        <%= __('On top of that, you can become a Trader and allow others to copy your orders for a commission percentage. Just share your skills with people and get paid!') %>
                    </p>
                    <p class="t-p">
                        <%= __('BTF CopyTrade easily introduces you to the financial market and helps you manage your investments wisely:') %>
                    </p>

                    <div class="t-section t-section_no-border">
                        <ul class="cards-list">
                            <li class="cards-list__item d-flex">
                                <span style="font-size: 2em;color: #000;margin-right: 1em;"><i
                                        class="fa fa-plug"></i></span>
                                <div class="cards-list__text card-text">
                                    <h3 class="card-text__strong t-lime-colored">
                                        <%= __('Copy the best traders and earn like a Pro') %></h3>
                                    <p class="card-text__info">
                                        <%= __('Learn trading from the best players by following their progress on the market') %>
                                    </p>
                                </div>
                            </li>
                            <li class="cards-list__item d-flex">
                                <span style="font-size: 2em;color: #000;margin-right: 1em;"><i
                                        class="fa fa-info-circle"></i></span>
                                <div class="cards-list__text card-text">
                                    <h3 class="card-text__strong t-lime-colored">
                                        <%= __('Get detailed Trader information') %></h3>
                                    <p class="card-text__info">
                                        <%= __('Browse the list of top traders, check their profit statistics, and pick the most successful ones to copy') %>
                                    </p>
                                </div>
                            </li>
                            <li class="cards-list__item d-flex">
                                <span style="font-size: 2em;color: #000;margin-right: 1em;"><i
                                        class="fa fa-address-card"></i></span>
                                <div class="cards-list__text card-text">
                                    <h3 class="card-text__strong t-lime-colored"><%= __('Create a unique portfolio') %>
                                    </h3>
                                    <p class="card-text__info">
                                        <%= __('Create your own portfolio of the best traders, track their progress, connect them, and make money') %>
                                    </p>
                                </div>
                            </li>
                            <li class="cards-list__item d-flex">
                                <span style="font-size: 2em;color: #000;margin-right: 1em;"><i
                                        class="fa fa-hourglass-half"></i></span>
                                <div class="cards-list__text card-text">
                                    <p class="card-text__strong t-lime-colored">
                                        <%= __('Start and stop copying anytime you want') %></p>
                                    <p class="card-text__info">
                                        <%= __('Take action when Traders are doing their best and alter your schedule depending on your needs') %>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p class="t-p mt-4">
                        <strong
                            class="t-strong"><%= __('Investing on the financial markets has never been easier!') %></strong>
                    </p>
                    <p class="t-p"><strong class="t-strong"><%= __('Here is why:') %></strong>
                    </p>
                    <ul class="t-ul">
                        <li class="t-ul__item">
                            <span style="font-size: 0.5em;color: green;padding: 2em;"><i
                                    class="fa fa-square"></i></span><%- __('Enter the market <b>without any specific financial knowledge</b>') %>
                        </li>
                        <li class="t-ul__item"><span style="font-size: 0.5em;color: green;padding: 2em;"><i
                                    class="fa fa-square"></i></span><%- __('Make a stable income <b>effortlessly </b> – chill while others work!') %>
                        </li>
                        <li class="t-ul__item"><span style="font-size: 0.5em;color: green;padding: 2em;"><i
                                    class="fa fa-square"></i></span><%- __('Earn in <b>just one click</b>!') %>
                        </li>
                        <li class="t-ul__item"><span style="font-size: 0.5em;color: green;padding: 2em;"><i
                                    class="fa fa-square"></i></span><%- __('Deposit and withdraw via <b>over 100 payment systems</b>') %>
                        </li>
                        <li class="t-ul__item"><span style="font-size: 0.5em;color: green;padding: 2em;"><i
                                    class="fa fa-square"></i></span><%- __('<b>Control</b> all your investments’ profitability') %>
                        </li>
                        <li class="t-ul__item"><span style="font-size: 0.5em;color: green;padding: 2em;"><i
                                    class="fa fa-square"></i></span><%- __('<b>Increase your investment amount</b> whenever needed') %>
                        </li>
                    </ul>
                    <p class="t-h3 t-strong t-lime-colored"><%= __('CopyTrade is a social trading revolution!') %></p>
                    <p class="t-p">
                        <%= __('Confusion and insecurity on the market are no more – now, a huge professional community is on your side 24/7! Start now and let the selected professionals work for you! ') %>
                    </p>
                </div>
                <div class="block-flex__icon copytrade__image">
                    <a href="https://outrade.btfprime.com/" class="btn btn-info"><%= __('See more') %></a>
                </div>
            </div>
        </div>
    </div>
</div>