<div class="wrapp-market mt-3">
    <div class="row">
        <div class="row p-4">
            <div class="col-md-6" style="padding: 20px;">
                <h2><%- __("Forex CFD") %></h2>
                <p style="font-size: 1.2em;word-spacing: 0.1em;">
                    <%- __("The Forex market provides traders the opportunity to trade 24 hours a day, 5 days a week in the world’s most liquidity financial market. Traders can take advantage of some of the tightest spreads, superior execution, and deep liquidity across 60 currency pairs") %>.
                </p>
            </div>
            <div class="col-md-6">
                <div class="market-facts-card forex">
                    <div class="facts-header" stlye="text-align: center;line-height: 35px;">
                        <div class="header-label" style="font-size: 20px;color: rgba(11, 10, 20, 0.6);">
                            <%- __("Markets") %></div>
                        <div class="header-title" style="font-size: 38px;
                        color: #0b0a14;
                        font-weight: 500;"><%- __("Forex") %></div>
                    </div>
                    <div class="facts-items" style="margin: 32px 0; text-align: left;">

                        <div class="facts-item"><span style="font-size: 1.5em; color: #05ba5d; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("60 currency pairs") %></div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #05ba5d; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Tight spreads from 0.0 pips") %></div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #05ba5d; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Up to 1:500 leverage") %></div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #05ba5d; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Deep liquidity") %></div>

                    </div>
                    <div class="action-buttons-container">
                        <a class="btn btn-success" href="#" style="background-color: #05ba5d;"><%- __("Details") %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapp-market mt-3">
    <div class="row">
        <div class="row p-4">
            <div class="col-md-6" style="padding: 20px;">
                <h2><%- __("Indices CFD") %></h2>
                <p style="font-size: 1.2em;word-spacing: 0.1em;">
                    <%- __("Gain exposure to the world’s largest equity markets through VGF offering of global Indices CFDs. With spreads from 0.5 points on 16 Indices, traders can take a wider view of equities markets whilst enjoying commission free and 24/5 trading across major markets") %>.
                </p>
            </div>
            <div class="col-md-6">
                <div class="market-facts-card forex">
                    <div class="facts-header" style="text-align: center;line-height: 35px;">
                        <div class="header-label" style="font-size: 20px;color: rgba(11, 10, 20, 0.6);">
                            <%- __("Markets") %></div>
                        <div class="header-title" style="font-size: 38px;
                        color: #0b0a14;
                        font-weight: 500;"><%- __("Indices") %></div>
                    </div>
                    <div class="facts-items" style="margin: 32px 0; text-align: left;">

                        <div class="facts-item"><span style="font-size: 1.5em; color: #57b2f7; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("17 Indices to trade from across the globe") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #57b2f7; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Up to 1:200 leverage") %></div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #57b2f7; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("No commissions") %></div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #57b2f7; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("MT4, MT5 & cTrader") %></div>
                    </div>
                    <div class="action-buttons-container">
                        <a class="btn btn-info" href="#" style="background-color: #57b2f7;"><%- __("Details") %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapp-market mt-3">
    <div class="row">
        <div class="row p-4">
            <div class="col-md-6" style="padding: 20px;">
                <h2><%- __("Commodities CFD") %></h2>
                <p style="font-size: 1.2em;word-spacing: 0.1em;">
                    <%- __("Trade energy, agriculture and metals products like a currency pair against the USD or as a Futures CFD. We’ve combined tight pricing and flexible lot sizes from 10c per point to give you one powerful product.") %>
                </p>
            </div>
            <div class="col-md-6">
                <div class="market-facts-card forex">
                    <div class="facts-header" style="text-align: center;line-height: 35px;">
                        <div class="header-label" style="font-size: 20px;color: rgba(11, 10, 20, 0.6);">
                            <%- __("Markets") %></div>
                        <div class="header-title" style="font-size: 38px;
                        color: #0b0a14;
                        font-weight: 500;"><%- __("Commodities") %></div>
                    </div>
                    <div class="facts-items" style="margin: 32px 0; text-align: left;">

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f7cf57; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Over 19 commodities to trade") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f7cf57; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Energy, agriculture and metals") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f7cf57; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Spot and Futures CFDs") %></div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f7cf57; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Up to 1:500 leverage") %></div>

                    </div>
                    <div class="action-buttons-container">
                        <a class="btn btn-info" href="#" style="background-color: #f7cf57;"><%- __("Details") %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapp-market mt-3">
    <div class="row">
        <div class="row p-4">
            <div class="col-md-6" style="padding: 20px;">
                <h2><%- __("Stocks CFD") %></h2>
                <p style="font-size: 1.2em;word-spacing: 0.1em;">
                    <%- __("Access over 100 large-cap Stocks CFDs across the ASX, NYSE and NASDAQ stock exchanges. We’ve selected a range of the world’s most popular companies to give you the best trading opportunities.") %>
                </p>
            </div>
            <div class="col-md-6">
                <div class="market-facts-card forex">
                    <div class="facts-header" style="text-align: center;line-height: 35px;">
                        <div class="header-label" style="font-size: 20px;color: rgba(11, 10, 20, 0.6);">
                            <%- __("Markets") %></div>
                        <div class="header-title" style="font-size: 38px;
                        color: #0b0a14;
                        font-weight: 500;"><%- __("Stocks") %></div>
                    </div>
                    <div class="facts-items" style="margin: 32px 0; text-align: left;">

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f37272; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span>
                            <%- __("120+ stocks from ASX, Nasdaq & NYSE") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f37272; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Earn dividends") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f37272; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span>MT5</div>

                    </div>
                    <div class="action-buttons-container">
                        <a class="btn btn-info" href="#" style="background-color: #f37272;"><%- __("Details") %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapp-market mt-3">
    <div class="row">
        <div class="row p-4">
            <div class="col-md-6" style="padding: 20px;">
                <h2><%- __("Bonds CFD") %></h2>
                <p style="font-size: 1.2em;word-spacing: 0.1em;">
                    <%- __("Bonds offer traders the opportunity to speculate on interest rates and global risk on/off sentiment, hedging equities exposure and to diversify their strategy. Choose from a range of Bonds issued by governments around the world including Japan, Europe, the U.K, and the U.S.") %>
                </p>
            </div>
            <div class="col-sm-6">
                <div class="market-facts-card forex">
                    <div class="facts-header" style="text-align: center;line-height: 35px;">
                        <div class="header-label" style="font-size: 20px;color: rgba(11, 10, 20, 0.6);">
                            <%- __("Markets") %></div>
                        <div class="header-title" style="font-size: 38px;
                        color: #0b0a14;
                        font-weight: 500;"><%- __("Bonds") %></div>
                    </div>
                    <div class="facts-items" style="margin: 32px 0; text-align: left;">

                        <div class="facts-item"><span style="font-size: 1.5em; color: #a78ae1; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Over 6 Bonds available to trade") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #a78ae1; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("No commissions") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #a78ae1; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Up to 1:200 leverage") %></div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #a78ae1; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Deep Liquidity") %></div>

                    </div>
                    <div class="action-buttons-container">
                        <a class="btn btn-info" href="#" style="background-color: #a78ae1;"><%- __("Details") %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapp-market mt-3">
    <div class="row">
        <div class="row p-4">
            <div class="col-md-6" style="padding: 20px;">
                <h2><%- __("Crypto CFD") %></h2>
                <p style="font-size: 1.2em;word-spacing: 0.1em;">
                    <%- __("Go long or short across our range of the world’s largest and most popular Cryptocurrencies. Trade against other retail traders 24/5 where price movements are driven primarily by fear and greed, news and prevailing sentiment. Enjoy trading with a leverage of up to 1:5 and eliminate Cryptocurrency Exchange risk by trading with an FSA-regulated CFD Provider.") %>
                </p>
            </div>
            <div class="col-md-6">
                <div class="market-facts-card forex">
                    <div class="facts-header" style="text-align: center;line-height: 35px;">
                        <div class="header-label" style="font-size: 20px;color: rgba(11, 10, 20, 0.6);">
                            <%- __("Markets") %></div>
                        <div class="header-title" style="font-size: 38px;
                        color: #0b0a14;
                        font-weight: 500;"><%- __("Crypto") %></div>
                    </div>
                    <div class="facts-items" style="margin: 32px 0; text-align: left;">

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f5bc6a; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Trade the market 24/5") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f5bc6a; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Long or short") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f5bc6a; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Up to 1:5 leverage") %></div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #f5bc6a; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("10 of the most popular Cryptos") %>
                        </div>

                    </div>
                    <div class="action-buttons-container">
                        <a class="btn btn-info" href="#" style="background-color: #f5bc6a;"><%- __("Details") %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapp-market mt-3">
    <div class="row">
        <div class="row p-4">
            <div class="col-md-6" style="padding: 20px;">
                <h2><%- __("Futures CFD") %></h2>
                <p style="font-size: 1.2em;word-spacing: 0.1em;">
                    <%- __("Futures are one of the most popular form of CFDs. VGF offer a range of Futures from around the world, including ICE Dollar Index and CBOE VIX Index. Online Futures based CFDs are offered exclusively on VGF' MetaTrader 4 Platform.") %>
                </p>
            </div>
            <div class="col-md-6">
                <div class="market-facts-card forex">
                    <div class="facts-header" style="text-align: center;line-height: 35px;">
                        <div class="header-label" style="font-size: 20px;color: rgba(11, 10, 20, 0.6);">
                            <%- __("Markets") %></div>
                        <div class="header-title" style="font-size: 38px;
                        color: #0b0a14;
                        font-weight: 500;"><%- __("Futures") %></div>
                    </div>
                    <div class="facts-items" style="margin: 32px 0; text-align: left;">

                        <div class="facts-item"><span style="font-size: 1.5em; color: #8df086; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("4 Global Futures available to trade") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #8df086; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("No commissions") %>
                        </div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #8df086; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Up to 1:200 leverage") %></div>

                        <div class="facts-item"><span style="font-size: 1.5em; color: #8df086; margin-right: 10px;"><i
                                    class="fa fa-check"></i></span><%- __("Deep Liquidity") %>
                        </div>

                    </div>
                    <div class="action-buttons-container">
                        <a class="btn btn-info" href="#" style="background-color: #8df086;"><%- __("Details") %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>