<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
        <!-- Add jQuery library -->
        <script type="text/javascript" src="/fancybox/lib/jquery-1.10.1.min.js"></script>

        <!-- Add mousewheel plugin (this is optional) -->
        <script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

        <!-- Add fancyBox main JS and CSS files -->
        <script type="text/javascript" src="/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
        <link rel="stylesheet" type="text/css" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

        <!-- Add Button helper (this is optional) -->
        <link rel="stylesheet" type="text/css" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
        <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

        <!-- Add Thumbnail helper (this is optional) -->
        <link rel="stylesheet" type="text/css" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
        <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

        <!-- Add Media helper (this is optional) -->
        <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

        <!-- Add Fancybox config -->
        <script type="text/javascript" src="/fancybox/config.js"></script>
</head>

<body class="antialiased font-sans bg-gray-200">
    <%- include ('./partials/header') %>
        <div class="container mx-auto mt-5 px-4 sm:px-8">
            <!-- Breadcrumbs -->
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center space-x-2 text-gray-400 text-md">
                    <a href="/admin" class="hover:underline hover:text-gray-600">Home</a>
                    <span>
                        <svg class="h-5 w-5 leading-none text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </span>
                    <a href="/admin" class="hover:underline hover:text-gray-600">Sản Phẩm</a>
                    <span>
                        <svg class="h-5 w-5 leading-none text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </span>
                    <span><%= data.product.title %></span>
                </div>
            </div>
            <!-- ./ Breadcrumbs -->
            <div class="mt-10 md:col-span-2">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">
                    <div class="flex flex-col md:flex-row -mx-4">
                        <div class="md:flex-1 px-4">
                            <div x-data="{ image: 0 }" x-cloak>
                                <div class="h-64 md:h-80 rounded-lg bg-gray-100 mb-4">
                                    <% data.product.links.forEach(function(pro, i) { %>
                                        <a x-show="image === <%= i %>" style="background-image: url(<%= pro.url %>)"
                                            href="<%= pro.url %>" data-fancybox-group="gallery"
                                            class="fancybox h-64 md:h-80 rounded-lg bg-gray-100 mb-4 flex items-center justify-center bg-center bg-no-repeat bg-cover">
                                        </a>
                                        <% }) %>
                                </div>
                                <div class="flex -mx-2 mb-4">
                                    <!-- <template x-for="i in <%= data.product.links.length %>"> -->
                                    <% data.product.links.forEach(function(pro, i) { %>
                                        <div class="flex-1 px-2">
                                            <button x-on:click="image = <%= i %>"
                                                :class="{ 'ring-2 ring-indigo-300 ring-inset': image === <%= i %> }"
                                                style="background-image: url(<%= pro.url %>)"
                                                class="focus:outline-none w-full rounded-lg h-24 md:h-32 bg-gray-100 flex items-center justify-center bg-center bg-no-repeat bg-cover">
                                            </button>
                                        </div>
                                        <% }) %>
                                            <!-- </template> -->
                                </div>
                            </div>
                        </div>
                        <div class="md:flex-1 px-4">
                            <h2 class="mb-2 leading-tight tracking-tight font-bold text-gray-800 text-2xl md:text-3xl">
                                <%= data.product.title %>
                            </h2>
                            <p class="text-gray-500 text-sm">
                                Khách hàng
                                <a href="#" class="text-indigo-600 hover:underline">
                                    <%= data.product.customer %>
                                </a>
                            </p>

                            <div class="flex items-center space-x-4 my-4">
                            </div>

                            <p class="text-gray-500">
                                <%= data.product.desc %>
                            </p>

                            <div class="flex py-4 space-x-4">
                                <a href="/admin/product/edit/<%= data.product._id %>"
                                    class="px-6 py-2 flex items-center font-semibold rounded-xl bg-indigo-600 hover:bg-indigo-500 text-white">
                                    Chỉnh sửa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include ('./partials/footer') %>

            <script>
                $(document).ready(function () {
                    $('.fancybox').fancybox();
                });
            </script>
</body>

</html>