<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
</head>

<body class="antialiased font-sans bg-gray-200">
    <%- include ('./partials/header') %>
        <form action="/admin" method="GET" id="form">
            <input type="hidden" name="page" value="<%= data.page %>">
            <div class="container mx-auto px-4 sm:px-8">
                <div class="py-8">
                    <div>
                        <h2 class="text-2xl font-semibold leading-tight">Danh Sách Sản Phẩm</h2>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="my-4 flex sm:flex-row flex-col">
                            <div class="flex flex-row mb-1 sm:mb-0">
                                <div class="relative">
                                    <select name="perPage" onchange="changePerpage()"
                                        class="appearance-none h-full rounded-l border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                        <option value="5" <%- data.perPage==='5' && 'selected' %>>5</option>
                                        <option value="10" <%- data.perPage==='10' && 'selected' %>>10</option>
                                        <option value="20" <%- data.perPage==='20' && 'selected' %>>20</option>
                                    </select>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20">
                                            <path
                                                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="relative">
                                    <select name="category" onchange="changeCategory()"
                                        class="appearance-none h-full rounded-r border-t sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                                        <option value="">Tất cả</option>
                                        <% listCategory=data.listCategory.map(function(elem) { return `<option
                                            value="${elem._id}" ${data.category==elem._id && 'selected' }>${elem.name}
                                            </option>` ; }) -%>
                                            <%- listCategory.join(" | ") %>

                                    </select>
                                    <div
                                        class=" pointer-events-none absolute inset-y-0 right-0 flex items-center px-2
                                                text-gray-700">
                                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20">
                                                    <path
                                                        d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                                </svg>
                                </div>
                            </div>
                        </div>
                        <div class="block relative">
                            <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                                <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                                    <path
                                        d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                    </path>
                                </svg>
                            </span>
                            <input placeholder="Nhập tên sản phẩm..." name="keyword" value="<%= data.keyword %>"
                                class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
                        </div>
                    </div>
                    <div>
                        <button
                            class="px-5 py-2 border-blue-700 border hover:text-blue-700 hover:bg-white rounded transition duration-300 bg-blue-700 text-white focus:outline-none"><a
                                href="/admin/product/add">Thêm Sản Phẩm</a></button>
                    </div>
                </div>

                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 overflow-x-auto">
                    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Tên Sản Phẩm
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Mô Tả
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Khách Hàng
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Danh Mục
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Ngày Tạo
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Thao Tác
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.listProduct.forEach(function(item, i) { %>
                                    <tr>
                                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                            <div class="flex items-center">
                                                <div class="flex-shrink-0 w-10 h-10">
                                                    <img class="w-full h-full rounded-full"
                                                        src="<%= item.links[0].url %>" alt="" />
                                                </div>
                                                <div class="ml-3">
                                                    <p class="max-w-xs text-gray-900 whitespace-no-wrap truncate">
                                                        <%= item.title %>
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                            <p class="max-w-sm text-gray-900 whitespace-no-wrap truncate ">
                                                <%= item.desc %>
                                            </p>
                                        </td>
                                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                            <p class="text-gray-900 whitespace-no-wrap">
                                                <%= item.customer %>
                                            </p>
                                        </td>
                                        <% data.listCategory.forEach(function(category, i) {
                                            if(category._id==item.categoryId) { %>
                                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                <span
                                                    class="relative inline-block px-3 py-1 <%- category.name == 'Hình Ảnh' ? 'text-green-900' : category.name == 'Video' ? 'text-red-900' : category.name == '3D' ? 'text-blue-900' : ''  %> font-semibold leading-tight">
                                                    <span aria-hidden
                                                        class="absolute inset-0 opacity-50 <%- category.name == 'Hình Ảnh' ? 'bg-green-200' : category.name=='Video' ? 'bg-red-200' : category.name=='3D' ? 'bg-blue-200' : ''%> rounded-full"></span>
                                                <span class="relative">
                                                    <%- category.name %>
                                                </span>
                                                </span>
                                            </td>
                                            <% }}) %>
                                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                    <p class="text-gray-900 whitespace-no-wrap">
                                                        <%= item.createdAt %>
                                                    </p>
                                                </td>
                                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                    <div class="flex item-center justify-center">
                                                        <a href="/admin/product/detail/?id=<%= item._id %>"
                                                            class="w-5 mr-2 text-gray-600 transform hover:text-green-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                            </svg>
                                                        </a>
                                                        <a href="/admin/product/edit/?id=<%= item._id %>"
                                                            class="w-5 mr-2 text-gray-600 transform hover:text-green-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                            </svg>
                                                        </a>
                                                        <a href="/admin/product/delete/?id=<%= item._id %>"
                                                            class="w-5 mr-2 text-gray-600 transform hover:text-green-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between
                            ">
                            <span class="text-xs xs:text-sm text-gray-900">
                                Hiển thị
                                <%= data.totalProduct===0 ? '0' : data.page==0 ? '1' : data.page * data.perPage %>
                                    đến
                                    <%= data.totalProduct===0 ? '0' : data.page==0 ? (data.perPage < data.totalProduct ?
                                        data.perPage : data.totalProduct) : ((data.page * data.perPage) +
                                        parseInt(data.perPage) )>= data.totalProduct ? data.totalProduct
                                        : ((data.page * data.perPage) + parseInt(data.perPage) ) %> trong tổng số <%=
                                            data.totalProduct %>
                            </span>
                            <div class="inline-flex mt-2 xs:mt-0">
                                <button id="prev"
                                    class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l <%= data.page==0 && 'opacity-50' %>"
                                    <%=data.page==0 && 'disabled' %>>
                                    Prev
                                </button>
                                <button id="next"
                                    class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r <%= data.page == data.totalPage -1 && 'opacity-50' %>"
                                    <%=data.page==data.totalPage - 1 && 'disabled' %>>
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
        <%- include ('./partials/footer') %>
</body>

<script>
    $(function () {
        $('#prev').on('click', function () {
            $('input[name=page]').val(parseInt($('input[name=page]').val()) - 1);
            $('#form').submit();
        });

        $('#next').on('click', function () {
            $('input[name=page]').val(parseInt($('input[name=page]').val()) + 1);
            $('#form').submit();
        });
    })

    function changeCategory() {
        $('input[name=page]').val(0);
        $('input[name=keyword]').val("");
        $('#form').submit();
    }

    function changePerpage() {
        $('input[name=page]').val(0);
        $('input[name=keyword]').val("");
        $('#form').submit();
    }
</script>

</html>