<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../../partials/header') %>
        <link rel="stylesheet" href="/css/partials/list-sidebar.css">
    </header>
    <main>
        <div class="edu-overview-top text-center">
            <div class="edu-overview-top-content">
                <h1 class="text-white">Web TV</h1>
                <p><%= __('Actionable trade ideas and market commentary in a short video format. Recorded daily from the floor of the New York Stock Exchange, our WebTV presented in association with Trading Central offer unmatched coverage on global equities, currencies and commodities') %>.
                </p>
                <button type="button" class="btn btn-success btn-lg">START TRADING</button>
            </div>
        </div>
        <div class="edu-overview-navbar">
            <div class="menu-item"><a href="/support/education/education_overview"><%= __('Education Overview') %></a>
            </div>
            <div class="menu-item"><a href="/support/education/advantage_of_forex"><%= __('Advantages of Forex') %></a>
            </div>
            <div class="menu-item "><a href="/support/education/advantage_of_cfds"><%= __('Advantages of CFDs') %></a>
            </div>
            <div class="menu-item "><a href="/support/education/video_tutorials"><%= __('Video Tutorials') %></a>
            </div>
            <div class="menu-item active "><a href="/support/education/web_tv"><%= __('Web TV') %></a></div>
        </div>
        <div class="video-web-tv">

        </div>
    </main>
    <footer>
        <%- include ('../../../partials/footer') %>
    </footer>
</body>

</html>