<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
    <link rel="stylesheet" href="/css/pages/ai_signal.css">
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
        <div class="head-fr-video">
            <div class="head-video">
                <video data-v-4496644e="" src="/video/future.mp4" autoplay="autoplay" muted="muted" loop="loop"
                    class="video-ai"></video>
            </div>
            <div class="head-fr-text">
                <div class="wrap-text">
                    <h1><%- __('VGF indicators are about to boost your trading') %>!</h1>
                    <a href="#" class="btn btn-success btn-lg">Start Now</a>
                </div>
            </div>
        </div>
        <div class="ai-content">
            <div class="professional-indicators container mt-3 text-center">
                <h1 style="font-weight: bold; margin: 1em 0;"><%- __('Professional Indicators') %></h1>
                <h4 style="margin-bottom: 1em; color: #54595f;font-weight: 600;">for MetaTrader 4</h4>
                <div class="list-card-ai row d-flex">
                    <div class="card-ai" style="width: 16rem; padding: .5em 1em 0 1em; text-align: center;">
                        <h2>VGF Alpha 0</h2>
                        <img src="/images/vgf-signal.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="/services/AI_signal#vgf-0" class="btn btn-outline-dark btn-lg">Read More</a>
                        </div>
                    </div>
                    <div class="card-ai" style="width: 16rem; padding: .5em 1em 0 1em; text-align: center;">
                        <h2>Alpha A</h2>
                        <img src="/images/vgf-a-signal.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="/services/AI_signal#vgf-a" class="btn btn-outline-dark btn-lg">Read More</a>
                        </div>
                    </div>
                    <div class="card-ai" style="width: 16rem; padding: .5em 1em 0 1em; text-align: center;">
                        <h2>Alpha B</h2>
                        <img src="/images/vgf-b-signal.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="/services/AI_signal#vgf-b" class="btn btn-outline-dark btn-lg">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="list-card-ai row d-flex">
                    <div class="card-ai" style="width: 16rem; padding: .5em 1em 0 1em; text-align: center;">
                        <h2>Alpha C</h2>
                        <img src="/images/vgf-c-signal.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="/services/AI_signal#vgf-c" class="btn btn-outline-dark btn-lg">Read More</a>
                        </div>
                    </div>
                    <div class="card-ai" style="width: 16rem; padding: .5em 1em 0 1em; text-align: center;">
                        <h2>Alpha D</h2>
                        <img src="/images/vgf-d-signal.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="/services/AI_signal#vgf-d" class="btn btn-outline-dark btn-lg">Read More</a>
                        </div>
                    </div>
                    <div class="card-ai" style="width: 16rem; padding: .5em 1em 0 1em; text-align: center;">
                        <h2>Alpha F</h2>
                        <img src="/images/vgf-f-signal.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="/services/AI_signal#vgf-f" class="btn btn-outline-dark btn-lg">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vgf-team">
                <div class="container vgf-team-content">
                    <div class="vgf-content">
                        <h1 class="text-white" style="font-weight: 700;">VGF signal Team</h1>
                        <p class="text-white">
                            <%- __('We are a diverse group of mathematicians and software developers that love Forex trading and that seek for the ultimate way to implement technical analysis for trade.After years of experience using ourselves these tools we found VGF in 2014 to share with the world the best MetaTrader 4 & 5 indicators. Since then we keep constantly upgrading our products and support our customers. If you god any questions – don’t hesitate to contact us') %>.
                        </p>
                        <a href="https://www.youtube.com/channel/UCHc2oLrmqpDRPl7SJ1q7ugg" class="yt-btn"><i
                                class="fab fa-youtube mr-2"></i>VGF on Youtube</a>
                    </div>
                    <div class="vgf-fb">
                        <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FVins-Global-Fintech-107552634238148%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
                            width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>
                </div>
            </div>
            <div class="list-ai-items">
                <div class="item container" id="vgf-0">
                    <div class="ai-item">
                        <div class="vgf-content">
                            <h1 style="font-size: 3em;font-weight: 700;">VGF Alpha</h1>
                            <p style="font-size: 1em">
                                <%- __('The <span style="color: #ff0000;"><strong>red</strong></span> dotted line indicates that the market is in an uptrend') %>
                                <br>
                                <%- __('The <span style="color: #40a240;"><strong>green</strong></span> dotted line indicates that the market is in a downtrend') %>
                                <br>
                                <%- __('The <span style="color: #ffc000;"><strong>yellow</strong></span> dotted line indicates that the market is in a sideways phase Sideway') %>
                                <br>
                                <br>
                                <%- __('The <span style="color: #ff0000;"><strong>red</strong></span> dotted line is above the yellow moving average line, indicating that the market is in a strong uptrend, you should enter the buy order.') %>
                                <br>
                                <%- __('The <span style="color: #40a240;"><strong>green</strong></span> dotted line is below the yellow moving average line, indicating that the market is in a strong downtrend, you should enter the sell order.') %>
                                <br>
                                <br>
                                <%- __('The <span style="color: #ffc000;"><strong>yellow</strong></span> moving average line: is the MA200 line, which is understood as the moving average of the price chain in 200 trading sessions, supporting the identification of a large fluctuation market.') %>
                                <br>
                                <%- __('The <span style="color: #2c2255;"><strong>purple</strong></span> trend line indicates the supports line and resistances line to determine entry points.') %>
                                <br>
                                <br>
                                <%- __('The <span style="color: #007bff;"><strong>blue</strong></span> line is the pivot line, the dotted green line is the resistances line, the dotted red line is the supports line, all three lines help determine profit taking point and stop loss point.') %>
                                <br>
                                <br>
                                <%- __('<span style="font-weight: bold">Shaded area</span>: Small fluctuations and very high Spread, you should not trade at this time.') %>
                                <br>
                                <br>
                                <a href="https://www.youtube.com/watch?v=WhlQDoWekeE&feature=emb_logo"
                                    class="yt-btn">Watch Video ⬇</a>
                        </div>
                        <div class="ai-item-img">
                            <img src="/images/vgf-signal.png" alt="" width="350px">
                        </div>
                    </div>
                    <div class="video-example">
                        <iframe width="100%" height="630" src="https://www.youtube.com/embed/WhlQDoWekeE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
                <div class="item container" id="vgf-a">
                    <div class="ai-item">
                        <div class="vgf-content">
                            <h1 style="font-size: 3em;font-weight: 700;">VGF Alpha A</h1>
                            <p style="font-size: 1.3em">
                            <h3><%- __('<span style="color: #ffc000;"><strong>The upper part of the indicator:</strong></span>') %>
                            </h3>
                            <%- __('A white arrow appears and we can enter the buy order') %><br>
                            <%- __('A <span style="color: #007bff;"><strong>blue</strong></span> arrow appears and we can enter the sell order') %><br>
                            <%- __('You should enter the order when the arrow starts to appear') %><br>
                            <br>
                            <%- __('The <span style="color: #40a240;"><strong>green</strong></span> line we should enter the buy order') %><br>
                            <%- __('The <span style="color: #ff0000;"><strong>red</strong></span> line we should enter the sell order') %><br>
                            <br>
                            <h3><%- __('<span style="color: #ffc000;"><strong>The lower part of the indicator:</strong></span>') %>
                            </h3>
                            <%- __('<span style="color: #40a240;"><strong>Green</strong></span> indicates an uptrend') %><br>
                            <%- __('<span style="color: #ff0000;"><strong>Red</strong></span> indicates a downtrend') %><br>
                            <br>
                            <br>
                            <a href="https://www.youtube.com/watch?v=R7UG3OEzfvo&feature=emb_logo" class="yt-btn">Watch
                                Video ⬇</a>
                        </div>
                        <div class="ai-item-img">
                            <img src="/images/vgf-a-signal.png" alt="" width="350px">
                        </div>
                    </div>
                    <div class="video-example">
                        <iframe width="100%" height="630" src="https://www.youtube.com/embed/R7UG3OEzfvo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
                <div class="item container" id="vgf-b">
                    <div class="ai-item">
                        <div class="vgf-content">
                            <h1 style="font-size: 3em;font-weight: 700;">VGF Alpha B</h1>
                            <p style="font-size: 1.3em">
                            <h3><%- __('<span style="color: #ffc000;"><strong>The upper part of the indicator:</strong></span>') %>
                            </h3>
                            <%- __('The white skull appears and we can enter the buy order') %><br>
                            <%- __('The <span style="color: #ffc000;"><strong>yellow</strong></span> skull appears and we can enter the sell order.') %><br>
                            <br>
                            <h3><%- __('<span style="color: #ffc000;"><strong>The middle and lower part of the indicator:</strong></span>') %>
                            </h3>
                            <%- __('<span style="color: #40a240;"><strong>Green</strong></span> color indicates that the market is in a strong uptrend') %><br>
                            <%- __('<span style="color: #ff0000;"><strong>Red</strong></span> color indicates that the market is in a strong downtrend') %><br>
                            <%- __('The zero line turns from <span style="color: #ff0000;"><strong>red</strong></span> to <span style="color: #40a240;"><strong>green</strong></span>, we can enter the buy order') %>
                            <br>
                            <%- __('The zero line from <span style="color: #40a240;"><strong>green</strong></span> turns <span style="color: #ff0000;"><strong>red</strong></span>, we can enter the sell order') %>
                            <br>
                            <br>
                            <%- __('The lower part of the indicator can set parameters to enhance judgments about market trends.') %>
                            <br>
                            <br>
                            <br>
                            <a href="https://www.youtube.com/watch?v=YjppCSWmVcs&feature=emb_logo" class="yt-btn">Watch
                                Video ⬇</a>
                        </div>
                        <div class="ai-item-img">
                            <img src="/images/vgf-b-signal.png" alt="" width="350px">
                        </div>
                    </div>
                    <div class="video-example">
                        <iframe width="100%" height="630px" src="https://www.youtube.com/embed/YjppCSWmVcs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
                <div class="item container" id="vgf-c">
                    <div class="ai-item">
                        <div class="vgf-content">
                            <h1 style="font-size: 3em;font-weight: 700;">VGF Alpha C</h1>
                            <p style="font-size: 1.3em">
                            <h3><%- __('<span style="color: #ffc000;"><strong>The upside:</strong></span>') %>
                            </h3>
                            <br>
                            <%- __('The white arrow appears that means we can enter the buy order') %><br>
                            <%- __('The <span style="color: #40a240;"><strong>green</strong></span> arrow appears that means we can enter the sell order.') %><br>
                            <%- __('When the <span style="color: #40a240;"><strong>green</strong></span>zone change to <span style="color: #ff0000;"><strong>red</strong></span> zone that means we can enter the buy order in the uptrend.') %><br>
                            <%- __('When the <span style="color: #ff0000;"><strong>red</strong></span> zone change to <span style="color: #40a240;"><strong>green</strong></span> zone that means we can enter the sell order in the downtrend') %><br>
                            <br>
                            <h3><%- __('<span style="color: #ffc000;"><strong>The downside:</strong></span>') %>
                            </h3>
                            <br>
                            <%- __('When the price exceed over-buy line (line 100) then the price has the reversal downtrend') %>
                            <br>
                            <%- __('When the price exceed over-sell line (line 100) then the price has the reversal uptrend') %>
                            <br>
                            <%- __('These indicators are only suitable for long-time trading investor') %>
                            <br>
                            <br>
                            <br>
                            <a href="#" class="yt-btn">Watch Video ⬇</a>
                        </div>
                        <div class="ai-item-img">
                            <img src="/images/vgf-c-signal.png" alt="" width="350px">
                        </div>
                    </div>
                    <div class="video-example">
                        <iframe width="100%" height="630px" src="https://www.youtube.com/embed/MxgmUHH32xY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
                <div class="item container" id="vgf-d">
                    <div class="ai-item">
                        <div class="vgf-content">
                            <h1 style="font-size: 3em;font-weight: 700;">VGF Alpha D</h1>
                            <p style="font-size: 1.3em">
                            <h3><%- __('<span style="color: #ffc000;"><strong>The upper part of the indicator:</strong></span>') %>
                            </h3>
                            <br>
                            <%- __('The white arrow appears that means we can enter the buy order') %><br>
                            <%- __('The <span style="color: #007bff;"><strong>blue</strong></span> arrow appears that means we can enter to sell order.') %><br>
                            <%- __('When the <span style="color: #40a240;"><strong>yellow</strong></span> line and the <span style="color: #007bff;"><strong>blue</strong></span> striped cloud appear then we can enter the buy order') %><br>
                            <%- __('The white line and the brown striped cloud appear then we can enter the sell order') %><br>
                            <br>
                            <h3><%- __('<span style="color: #ffc000;"><strong>The middle and lower part of indicator:</strong></span>') %>
                            </h3>
                            <br>
                            <%- __('The <span style="color: #40a240;"><strong>green</strong></span> line means the market is strongly uptrend') %>
                            <br>
                            <%- __('The <span style="color: #ff0000;"><strong>red</strong></span> line means the market is strongly downtrend') %>
                            <br>
                            <%- __('The zero line change from <span style="color: #ff0000;"><strong>red</strong></span> one to <span style="color: #40a240;"><strong>green</strong></span> one then we can enter buy order') %>
                            <br>
                            <%- __('The zero line change from <span style="color: #40a240;"><strong>green</strong></span> one to <span style="color: #ff0000;"><strong>red</strong></span> one then we can enter sell order') %>
                            <br>
                            <br>
                            <%- __('The lower part of indicators can set parameters to enhance judgments about market trends') %>
                            <br>
                            <br>
                            <a href="#" class="yt-btn">Watch Video ⬇</a>
                        </div>
                        <div class="ai-item-img">
                            <img src="/images/vgf-d-signal.png" alt="" width="350px">
                        </div>
                    </div>
                    <div class="video-example">
                        <iframe width="100%" height="630px" src="https://www.youtube.com/embed/vtSFJQCnjfw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
                <div class="item container" id="vgf-f">
                    <div class="ai-item">
                        <div class="vgf-content">
                            <h1 style="font-size: 3em;font-weight: 700;">VGF Alpha F</h1>
                            <p style="font-size: 1.3em">
                            <h3><%- __('<span style="color: #ffc000;"><strong>The upper part of the indicator:</strong></span>') %>
                            </h3>
                            <br>
                            <%- __('The white arrow appears that means we can enter the buy order') %><br>
                            <%- __('The <span style="color: #007bff;"><strong>blue</strong></span> arrow appears that means we can enter to sell order.') %><br>
                            <br>
                            <br>
                            <h3><%- __('<span style="color: #ffc000;"><strong>The lower part of indicator:</strong></span>') %>
                            </h3>
                            <br>
                            <%- __('When the <span style="color: #007bff;"><strong>blue</strong></span> line goes down and cut the white line, cross over the over-buy line (line 100) then the price has the reversal downtrend') %>
                            <br>
                            <%- __('When the white line goes up and cut the <span style="color: #007bff;"><strong>blue</strong></span> line, cross over the over-sell (line -100) then the price has the reversal uptrend') %>
                            <br>
                            <br>
                            <a href="#" class="yt-btn">Watch Video ⬇</a>
                        </div>
                        <div class="ai-item-img">
                            <img src="/images/vgf-f-signal.png" alt="" width="350px">
                        </div>
                    </div>
                    <div class="video-example">
                        <iframe width="100%" height="630" src="https://www.youtube.com/embed/h8xcRXTxBsU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <hr>
            </div>
            <div class="list-rank container text-center">
                <h1>Super Bundles</h1>
                <div class="row list mb-3" style="justify-content: center;">
                    <div class="card">
                        <div class="top">
                            <h2>Future Volume 5</h2>
                            <h4>for Metatrader 5</h4>
                        </div>
                        <div class="card-body rank">
                            <div class="card-title rank-title">
                                <span>199</span>
                                <p>$179</p>
                            </div>
                            <ul class="list-group">
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    Pre-Order
                                    today and get
                                    when ready!</li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    Built for Metartrader 5
                                </li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    Life Time Software Updates
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer-rank border border-dark">
                            <a href="#" class="btn btn-info">Order Now</a>
                            <div class="elementor-price-table__additional_info text-white" style="    color: #ffffff;
                            font-size: 16px;
                            margin: 15px 30px 0px 30px;"><img draggable="false" role="img" class="emoji" alt="🔒"
                                    src="https://s.w.org/images/core/emoji/12.0.0-1/svg/1f512.svg" width="15px"><span
                                    style="margin: 2px 0 0 10px;">Secure Payment</span></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top" style=" background-color: #4d95b7;">
                            <h2>Rookie Trader</h2>
                            <h4>$59 OFF!</h4>
                        </div>
                        <div class="card-body rank">
                            <div class="card-title rank-title">
                                <span>307</span>
                                <p>$238</p>
                            </div>
                            <ul class="list-group">
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    Exit Indicator ($79)</li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    Trendix ($79)
                                </li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    My Holy Grail 4/5 ($149)
                                </li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    1 Year Support
                                </li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    Life Time Software Updates
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer-rank  border border-dark">
                            <a href="#" class="btn btn-info">Order Now</a>
                            <div class="elementor-price-table__additional_info text-white" style="    color: #ffffff;
                            font-size: 16px;
                            margin: 15px 30px 0px 30px;"><img draggable="false" role="img" class="emoji" alt="🔒"
                                    src="https://s.w.org/images/core/emoji/12.0.0-1/svg/1f512.svg" width="15px"><span
                                    style="margin: 2px 0 0 10px;">Secure Payment</span></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="top" style="background-color: #a51d1d;">
                            <div class="elementor-price-table__ribbon-inner">Popular</div>
                            <h2>Pro Trader</h2>
                            <h4>$119 OFF!</h4>
                        </div>
                        <div class="card-body rank">
                            <div class="card-title rank-title">
                                <span>459</span>
                                <p>$377</p>
                            </div>
                            <ul class="list-group">
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    Exit Indicator ($79)
                                </li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    Trendix ($79)
                                </li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    Peak & Valley ($149)
                                </li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    My Holy Grail 4/5 ($149)
                                </li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    2 Year Support
                                </li>
                                <li class="border-bottom pb-2 pt-2" style="font-size: 0.8em;"><i
                                        class="fa fa-check mr-3" style="font-size:20px;"></i>
                                    Life Time Software Updates
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer-rank  border border-dark">
                            <a href="#" class="btn btn-info">Order Now</a>
                            <div class="elementor-price-table__additional_info text-white" style="    color: #ffffff;
                            font-size: 16px;
                            margin: 15px 30px 0px 30px;"><img draggable="false" role="img" class="emoji" alt="🔒"
                                    src="https://s.w.org/images/core/emoji/12.0.0-1/svg/1f512.svg" width="15px"><span
                                    style="margin: 2px 0 0 10px;">Secure Payment</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>