<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/pages/services.css">
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
        <div class="container">
            <br>
            <div class="row mt-4 mb-4">
                <div class="col-lg-3">
                    <h3><%= __('Our Services') %></h3>
                    <ul class="service-list">
                        <li><a tabindex="-1" href="/services/forex"><%= __('Forex') %></a></li>
                        <li><a tabindex="-1" href="/services/copy_trade"><%= __('Copy Trade') %></a></li>
                        <li><a tabindex="-1" href="/services/capital_markets"><%= __('Capital Markets') %></a></li>
                        <li><a tabindex="-1" href="/services/technology_advisory"><%= __('Technology & Advisory') %></a>
                        </li>
                        <li><a tabindex="-1" href="/services/AI_signal"><%- __('AI Signal') %></a></li>
                        <li><a tabindex="-1" href="/services/IPFS-filecoin"><%= __('IPFS & Filecoin') %></a></li>
                        </li>
                        <li><a tabindex="-1" href="/services/vgf/token"><%= __('Fiva Token') %></a></li>
                        <li><a tabindex="-1" href="/services/finance_training"><%= __('Finance Training') %></a>
                        </li>
                    </ul>

                    <div class="col-sm-12 need-help-box">
                        <h3>Need Help ?</h3>
                        <p>
                            <%= __('Please feel free to contact us. We will get back to you with 1-2 business days.Or just call us now') %>
                        </p>
                        <p><i class="fa fa-phone" style="font-size: 16px ;color: #3c3c3c ;margin-right: 10px ;"></i>
                            +(84)39 723 99 86</p>
                        <p><i class="fa fa-envelope-open"
                                style="font-size: 16px ;color: #3c3c3c ;margin-right: 10px ;"></i>info@vgfinex.com</p>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="mt-3">
                        <% if(data === 'Forex') { %>
                        <h3 class="t-h1"
                            style="text-align: center;background: #2b2b77;padding: 0.5em 0;color: #fff;margin: 0;">
                            <%- __("VGF's CFD trading broker partnership") %>: <a href="https://btfprime.com/"><img
                                    src="/images/btf.png" alt="" width="120px"></a>
                        </h3>
                        <div class="row list-win-btf pt-4 ml-0 mr-0 mb-4" style="background-color: rgba(0, 0, 0, 0.08);
                        padding: 1em 2em;">
                            <div class="col-sm">
                                <div class="win-btf">
                                    <div class="d-flex align-items-center">
                                        <img src="/images/strenght.png" alt="" width="40px">
                                        <div class="title h4 ml-4 font-weight-bold" style="color: chocolate;">
                                            <%- __("Why choose BTF Prime?") %></div>
                                    </div>
                                    <div class="subscribe h5"
                                        style="padding-top: 1em;line-height: 18px;font-size: 14px;color: #2b2b77;">
                                        <div class="pre-image-item">
                                            <%- __("Trustworthy, continuously developing broker") %></div>
                                        <div class="pre-image-item"><%- __("The most beneficial offers on Forex") %>
                                        </div>
                                        <div class="pre-image-item">
                                            <%- __("Thousands profitable orders executed daily") %></div>
                                        <div class="pre-image-item"><%- __("Team of highly-qualified professionals") %>
                                        </div>
                                        <div class="pre-image-item"><%- __("Millions of thankful customers") %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="win-btf">
                                    <div class="d-flex align-items-center">
                                        <img src="/images/strenght.png" alt="" width="40px">
                                        <div class="title h4 ml-4 font-weight-bold" style="color: chocolate;">
                                            <%- __("BTF Prime advantages") %>
                                        </div>
                                    </div>
                                    <div class="subscribe h5"
                                        style="padding-top: 1em;line-height: 18px;font-size: 14px;color: #2b2b77;">
                                        <div class="pre-image-item"><%- __("Standard Account") %></div>
                                        <div class="pre-image-item"><%- __("ECM Pro Account") %></div>
                                        <div class="pre-image-item"><%- __("Provide Social Trading Services") %></div>
                                        <div class="pre-image-item"><%- __("Highest liquidity on the world") %></div>
                                        <div class="pre-image-item"><%- __("Spread low") %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <h1 style="color: rgb(43, 43, 119);font-weight: 600;font-size: 70px;">
                            <%= data %></h1>
                        <p style="text-transform: uppercase;">
                            <%= __('GLOBAL STRATEGIES, INSIGHT-DRIVEN TRANSFORMATION') %></p>
                        <!-- Forex Page -->
                        <% if(data === 'Forex') { %>
                        <%- include('./partials/forex') %>
                        <% } %>
                        <!-- Copy trade Page -->
                        <% if(data === 'Copy Trade') { %>
                        <%- include('./partials/copy_trade') %>
                        <% } %>
                        <!-- Finance Training Page -->
                        <% if(data === 'Finance Training') { %>
                        <%- include('./partials/finance_training') %>
                        <% } %>
                        <!-- Capital market Page -->
                        <% if(data === 'Capital Markets') { %>
                        <%- include('./partials/capital_market') %>
                        <% } %>

                        <!-- IPFS Filecoin -->
                        <% if(data === 'IPFS-filecoin') { %>
                        <%- include('./partials/IPFS-filecoin') %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>