<footer class="footer bg-black relative pt-16 -mt-1">
  <div class="container mx-auto px-6">
    <div class="sm:flex sm:mt-8">
      <div
        class="
          mt-8
          sm:mt-0 sm:w-full sm:px-8
          flex flex-col
          md:flex-row
          justify-space
        "
      >
        <div class="flex flex-col mr-10 wow fadeInUp">
          <span class="font-bold text-white uppercase mb-2 text-xl lg:text-2xl"
            ><%= __('Thông Tin') %></span
          >
          <span class="my-2 text-white text-sm lg:text-md md:max-w-sm">
            73/5 Đường 35 khu phố 5 Phường Bình Trưng Tây Quận 2, TP. Thủ Đức.
            <br /><br />0944.462.632 - Đức Thành
          </span>
          <div class="my-2 flex items-center">
              <div class="lg:w-10 w-8  p-2 rounded-full bg-white mr-3"><a href="#"><img src="/img/instagram.svg" /></a></div>
              <div class="lg:w-10 w-8  p-2 rounded-full bg-white mr-3"><a href="#"><img src="/img/facebook.svg" /></a></div>
              <div class="lg:w-10 w-8  p-2 rounded-full bg-white mr-3"><a href="#"><img src="/img/youtube.svg" /></a></div>
              <div class="lg:w-10 w-8  p-2 rounded-full bg-white mr-3"><a href="#"><img src="/img/tik-tok.svg" /></a></div>

          </div>
        </div>
        <div class="flex flex-col wow fadeInUp">
          <span class="font-bold text-white uppercase mt-4 md:mt-0 mb-2 text-xl lg:text-2xl"
            ><%= __('Links') %></span
          >
          <span class="my-2"
            ><a href="#" class="text-white text-sm lg:text-md hover:opacity-80"
              ><%= __('Sản Phẩm') %></a
            ></span
          >
          <span class="my-2"
            ><a href="#" class="text-white text-sm lg:text-md hover:opacity-80"
              ><%= __('Lĩnh Vực Hoạt Động') %></a
            ></span
          >
          <span class="my-2"
            ><a href="#" class="text-white text-sm lg:text-md hover:opacity-80"
              ><%= __('Truyền Thông và Dịch Vụ') %></a
            ></span
          >
          <span class="my-2"
            ><a href="#" class="text-white text-sm lg:text-md hover:opacity-80"
              ><%= __('Khách Hàng Của Chúng Tôi') %></a
            ></span
          >
        </div>
        <div class="flex flex-col wow fadeInUp">
          <!-- <span class="font-bold text-white uppercase mt-4 md:mt-0 mb-2 text-xl lg:text-2xl"
            ><%= __('Chính Sách') %></span
          >
          <span class="my-2"
            ><a href="#" class="text-white text-sm lg:text-md hover:opacity-80"
              >link 1</a
            ></span
          >
          <span class="my-2"
            ><a href="#" class="text-white text-sm lg:text-md hover:opacity-80"
              >link 1</a
            ></span
          >
          <span class="my-2"
            ><a href="#" class="text-white text-sm lg:text-md hover:opacity-80"
              >link 1</a
            ></span
          > -->
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-6">
    <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
      <div class="sm:w-2/3 text-center py-6">
        <p class="text-sm text-white font-bold mb-2">
          © 2021 by Duc Thanh Multimedia
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  new WOW().init();
</script>
