<div id="nav-header">
  <nav id="top" class="
      fixed
      w-full
      z-50
      top-0
      hidden
      lg:flex
      items-center
      justify-between
      flex-wrap
      py-3
      px-6
      animated
      fadeInDown
    ">
    <div class="
        flex
        items-center
        flex-shrink-0
        text-white
        animated fadeIn
        delay-1
      ">
      <img src="/img/logo_text.png" alt="ducthanhmultimedia-logo" class="w-20" />
    </div>
    <div class="text-md text-white uppercase hidden lg:block -ml-20">
      <a href="#responsive-header" class="
          block
          mt-4
          lg:inline-block lg:mt-0
          hover:opacity-80
          mr-4
          animated fadeIn
          delay-1
        ">
        <%= __('Trang Chủ') %>
      </a>
      <a href="#responsive-header" class="
          block
          mt-4
          lg:inline-block lg:mt-0
          hover:opacity-80
          mr-4
          animated fadeIn
          delay-2
        ">
        <%= __('Hình Ảnh') %>
      </a>
      <a href="#responsive-header" class="
          block
          mt-4
          lg:inline-block lg:mt-0
          hover:opacity-80
          mr-4
          animated fadeIn
          delay-3
        ">
        <%= __('Video') %>
      </a>
      <a href="#responsive-header" class="
          block
          mt-4
          lg:inline-block lg:mt-0
          hover:opacity-80
          mr-4
          animated fadeIn
          delay-4
        ">
        <%= __('Thiết Kế') %>
      </a>
      <a href="#responsive-header" class="
          block
          mt-4
          lg:inline-block lg:mt-0
          hover:opacity-80
          mr-4
          animated fadeIn
          delay-5
        ">
        <%= __('Liên Hệ') %>
      </a>
    </div>
    <div class="relative hidden items-center lg:flex text-white">
      <a href="/change-lang/en" class="
          block
          text-sm
          cursor-pointer
          animated fadeIn
          delay-6
          <%=
          lang
          ==
          'en'
          &&
          'hidden'
          %>
        " role="menuitem" tabindex="-1" id="menu-item-0">EN</a>
      <a href="/change-lang/vi" class="
          block
          text-sm
          cursor-pointer
          <%=
          (lang
          ==
          'vi'
          ||
          lang
          ==
          undefined)
          &&
          'hidden'
          %>
        " id="menu-item-1">VN</a>
    </div>
  </nav>
  <div class="fixed top-6 right-6 block lg:hidden z-50">
    <button aria-label="false" class="flex items-center text-white cursor-pointer hover:opacity-80" id="menu-btn">
      <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
  <div class="
      menu-list
      fixed
      w-screen
      h-screen
      z-20
      bg-gray-900 bg-opacity-90
      flex
      justify-center
      items-start
      hidden
      animated
    ">
    <ul class="mt-20">
      <li class="
          text-white text-xl
          my-3
          animated fadeIn
          delay-1
        ">
        <a href="/">
          <%= __('Trang Chủ') %>
        </a>
      </li>
      <li class="
          text-white text-xl
          my-3
          animated fadeIn
          delay-2
        ">
        <a href="/">
          <%= __('Hình Ảnh') %>
        </a>
      </li>
      <li class="
          text-white text-xl
          my-3
          animated fadeIn
          delay-3
        ">
        <a href="/">
          <%= __('Video') %>
        </a>
      </li>
      <li class="
          text-white text-xl
          my-3
          animated fadeIn
          delay-4
        ">
        <a href="/">
          <%= __('Thiết Kế') %>
        </a>
      </li>
      <li class="
          text-white text-xl
          my-3
          animated fadeIn
          delay-5
        ">
        <a href="/">
          <%= __('Liên Hệ') %>
        </a>
      </li>
    </ul>
    <button aria-label="false" class="fixed z-50 top-6 right-6" id="close-btn">
      <img src="/img/close.svg" alt="close-btn" class="w-4 h-4 text-white" />
    </button>
  </div>
</div>