<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
    <link rel="stylesheet" href="css/partials/list-sidebar.css">
    <link rel="stylesheet" href="/css/pages/contact.css">
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
        <div class="edu-overview-top text-center">
            <div class="edu-overview-top-content">
                <h1 class="text-white"><%- __('CONTACT US') %></h1>
                <!-- <p>VGF has a dedicated team of specialists ready to help you 24/7. </p> -->
                <button type="button" class="btn btn-success btn-lg"><%- __('About Us') %></button>
            </div>
        </div>
        <div class="edu-overview-navbar container">
            <div class="menu-item"><a href="/about"><%- __('About VGF') %></a>
            </div>
            <div class="menu-item active"><a href="/contact"><%- __('Contact') %></a></div>
        </div>
        <div class="edu-overview-content container">
            <div class="page-section grid-section row">
                <div class="c-card">
                    <div class="c-card-content">
                        <div class="c-card-img i-1"></div>
                        <div class="c-card-title">
                            <div class="title-green"><%- __('Head Office') %></div>
                        </div>
                        <div class="c-card-text">
                            <div><b>Unit A, 20/F, Tower B, Billion Centre, No.1 Wang Kwong Road, Kowloon Bay, Hong
                                    Kong</b></div>
                            <div><b></b></div>
                        </div>

                    </div>
                </div>
                <div class="c-card">
                    <div class="c-card-content">
                        <div class="c-card-img i-2"></div>
                        <div class="c-card-title">
                            <div class="title-green"><%- __('Vietnamese Support Center') %></div>
                        </div>
                        <div class="c-card-text">
                            <div><%- __('General : <b>+(84)39 723 99 86</b>') %></div>
                        </div>
                    </div>
                </div>
                <div class="c-card">
                    <div class="c-card-content">
                        <div class="c-card-img i-3"></div>
                        <div class="c-card-title">
                            <div class="title-green"><%- __('Contact Detail (Vietnam)') %></div>
                        </div>
                        <div class="c-card-text">
                            <div><b>info@vgfinex.com</b></div><b>
                            </b>
                        </div><b>
                        </b>
                    </div><b>
                    </b>
                </div><b>
                </b>
            </div>
        </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>