<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
        <link rel="stylesheet" href="/css/pages/legal.css">
    </header>
    <main>
        <div class="bg-dark">
            <div class="container-lg bg-light p-0">
                <h1 class="t-h1" style="text-align: center;background: #2b2b77;padding: 0.5em 0;color: #fff;">
                    <%- __('VGF GROUP LICENSES & REGULATION') %></h1>
                <div class="media p-3" style="height: 100vh;">
                    <img src="https://cdn.countryflags.com/thumbs/united-states-of-america/flag-800.png"
                        style="max-width: 300px;">
                    <div>
                        <h5 class=""><a
                                href="https://www.nfa.futures.org/BasicNet/basic-search-results.aspx?rnd=5539.128609634185"
                                target="_blank"
                                class="text-dark"><%- __('National Futures Association (NFA)') %></a><br></h5>
                        <p><%- __('VGF is registered and regulated by the U.S National Futures Association') %> </p>
                        <p><%- __('NFA Register Number: 0530057') %></p>
                        <p><%- __('The National Futures Association is the self-regulatory organization for the U.S. derivatives industry, including on-exchange traded futures, retail off-exchange foreign currency and OTC derivatives') %>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>