<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
    <link rel="stylesheet" href="/css/partials/list-sidebar.css">
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
        <div class="edu-overview-top text-center">
            <div class="edu-overview-top-content">
                <h1 class="text-white">Affiliate Program</h1>
                <p><%- __('Enjoy attractive rev share commissions and bonuses by referring clients and giving them the performance they demand from a regulated Forex CFD Provider') %>.
                </p>
                <button type="button" class="btn btn-success btn-lg">START EARNING NOW</button>
            </div>
        </div>
        <div class="edu-overview-content">
            <%- include ('../../partials/right-sidebar') %>
            <div class="page-content bgcolor1">
                <div class="page-first-text" style="font-size: 1.5em; font-weight: 800;margin-bottom: 1em;;">
                    <%- __('Our trading conditions makes BTF one of the most popular choices for Forex traders all over the world. Our Raw spreads offer the lowest possible costs and therefore give the trader a great advantage whilst trading with us') %>.
                </div>
                <div class="first-section">
                    <h1><%- __('What we offer affiliates') %>?</h1>
                    <div class="pre-image-item"><%- __('Attractive revenue share model') %></div>
                    <div class="pre-image-item"><%- __('Simple client on-boarding for higher conversions') %></div>
                    <div class="pre-image-item"><%- __('Commissions paid into a trading account in real time') %></div>
                    <div class="pre-image-item"><%- __('Transparency &amp; Reporting') %></div>
                    <div class="pre-image-item"><%- __('Marketing material in 10 different languages') %></div>
                </div>
                <div style="height: 600px; width: 100%;" id="noneed"></div>
            </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>