<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
    <link rel="stylesheet" href="/css/pages/mall.css">
</head>

<body>
    <!-- Navbar -->
    <div class="wrapper">
        <div class="header">
            <!-- Navbar Start -->
            <%- include ('../../partials/header') %>
            <!-- Navbar End -->
            <!-- Slide Start -->
            <div class=" swiper-slide6">
                <div class="content container">
                    <h2 class="text-light font-weight-bold pb-4"><%- __('Introduction of FVT (Fiva Token)') %></h2>
                    <div data-v-e89efc46="" class="title"><em data-v-e89efc46=""></em><span data-v-e89efc46=""
                            class="pr-2 pl-2"><%- __('Overview') %></span><em data-v-e89efc46=""></em></div>
                    <div data-v-e89efc46="" class="subscribe"><span data-v-e89efc46=""
                            style=""><%- __('· FVT is short for <em>Vins Global Fintech Token</em>, which is the Fiva Token.') %></span><br
                            data-v-e89efc46=""> <span data-v-e89efc46="" style="">
                            <%- __('· FVT is a decentralized digital asset based on Ethereum, with a limited total supply of <em>500 M</em>, issued by Vins Global Fintech') %>.</span>
                    </div>
                    <div class="list-advantages row">
                        <div class="col-md-4 block">
                            <div class="block-bg bg1"></div>
                            <div class="title">Token</div>
                            <div class="subscribe">
                                <%- __('VGF developed FVT based on the token system issued and managed through blockchain and it can be used inside VGF as well as the multiple scenarios of VGF') %>.
                            </div>
                        </div>
                        <div class="col-md-4 block">
                            <div class="block-bg bg2"></div>
                            <div class="title">
                                <%- __('Carrier') %></div>
                            <div class="subscribe">
                                <%- __('VGF is used in all types of applications in the global business and ecosystem of VGF and has become an important hub of the ecosystem') %>.
                            </div>
                        </div>
                        <div class="col-md-4 block">
                            <div class="block-bg bg3"></div>
                            <div class="title"><%- __('Benefit') %></div>
                            <div class="subscribe">
                                <%- __('VGF holders shall enjoy the corresponding benefits of the whole ecosystem of VGF and get ecological sub-token rewards, as well as the valuable promotion brought by sustained repurchase and destruction') %>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature">
                <div class="container">
                    <div data-v-e89efc46="" class="title"><em data-v-e89efc46=""></em><span data-v-e89efc46=""
                            class="pr-2 pl-2"><%- __('Features') %></span><em data-v-e89efc46=""></em></div>
                    <div class="list-feature">
                        <div data-v-28c11ee6="" class="row" style="">
                            <div data-v-28c11ee6="" class="col-sm box-feature box1">
                                <div data-v-28c11ee6="" class="box-title"><em data-v-28c11ee6="">100 M</em> FVT</div>
                                <div data-v-28c11ee6="" class="box-sub">
                                    <%- __('Used for user rewards and platform operation') %>.
                                </div>
                            </div>
                            <div data-v-28c11ee6="" class="col-sm box-feature box2">
                                <div data-v-28c11ee6="" class="box-title"><em data-v-28c11ee6="">100 M</em> FVT</div>
                                <div data-v-28c11ee6="" class="box-sub">
                                    <%- __('Reserved as team incentives and subject to a 4-year vesting schedule. 25 M is unlocked each year') %>.
                                </div>
                            </div>
                            <div data-v-28c11ee6="" class="col-sm box-feature box3">
                                <div data-v-28c11ee6="" class="box-title"><em data-v-28c11ee6="">300 M</em> FVT</div>
                                <div data-v-28c11ee6="" class="box-sub">
                                    <%- __('Given away for free as a benefit for the purchase of “point cards”. The giveaway is completed now') %>.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div data-v-28c11ee6="" class="block-feature block1">
                                    <div data-v-28c11ee6="" class="block-title"><em data-v-28c11ee6=""></em>
                                        <%- __('Benefits') %>
                                    </div>
                                    <div data-v-28c11ee6="" class="sub-block-wrap">
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon1"></em><%- __('Invitation and rebates') %></div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon2"></em><%- __('Rewards of sub-tokens') %>.</div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon3"></em><%- __('OTC legal service') %></div>
                                    </div>
                                    <div data-v-28c11ee6="" class="sub-block-wrap">
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon4"></em><%- __('Fee discount') %></div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon5"></em><%- __('Ecological Trading Zone') %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div data-v-28c11ee6="" class="block-feature block4">
                                    <div data-v-28c11ee6="" class="block-title"><em data-v-28c11ee6=""></em>
                                        <%- __('Corporate payment') %></div>
                                    <div data-v-28c11ee6="" class="sub-block-wrap">
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon14"></em><%- __('Community service providers') %></div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon15"></em><%- __('Multiple incubators') %></div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon16"></em><%- __('Mining machines of head brands') %></div>
                                    </div>
                                    <div data-v-28c11ee6="" class="sub-block-wrap">
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon17"></em><%- __('Top 10 mining pools') %></div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon18"></em><%- __('30+ crypto media') %></div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon19"></em><%- __('Head-hunting companies') %></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div data-v-28c11ee6="" class="block-feature block2">
                                    <div data-v-28c11ee6="" class="block-title"><em data-v-28c11ee6=""></em>
                                        <%- __('Repurchase and destruction') %></div>
                                    <div data-v-28c11ee6="" class="sub-block-wrap">
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon6"></em><%- __('20% of revenue from VGF Contract will be used for the regular repurchase and destruction of FVT') %>.
                                        </div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon7"></em><%- __('20% of revenue from VGF Global will be used for the regular repurchase and destruction of FVT') %>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div data-v-28c11ee6="" class="block-feature block3">
                                    <div data-v-28c11ee6="" class="block-title"><em
                                            data-v-28c11ee6=""></em><%- __('Ecological scenarios - deposits') %></div>
                                    <div data-v-28c11ee6="" class="sub-block-wrap">
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon8"></em>VGF Cloud</div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon9"></em><%- __('Listing project teams') %></div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon10"></em><%- __('Global Elites') %></div>
                                    </div>
                                    <div data-v-28c11ee6="" class="sub-block-wrap">
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon11"></em><%- __('VGF Next Voting') %></div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon12"></em><%- __('Endorsers') %></div>
                                        <div data-v-28c11ee6="" class="sub-block"><em data-v-28c11ee6=""
                                                class="icon13"></em><%- __('OTC ad deposit') %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide End -->
        </div>

        <!-- Footer-->

        <%- include ('../../partials/footer') %>
        <!-- Swiper JS -->
        <script src="js/swiper.min.js"></script>
</body>

</html>