<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../../partials/head') %>
    <link rel="stylesheet" href="/css/pages/help-center-glossary.css">
</head>

<body>
    <header>
        <%- include ('../../../partials/header') %>
    </header>
    <main>
        <div class="container help-centre-container pb-5">
            <h1 style="padding: 40px 0;font-size: 48px;margin-top: 40px;text-align:center;">
                <%- __('Glossary Dictionary') %>
            </h1>
            <!-- input Form -->
            <div class="faq-search__container">
                <input class="faq-input faq-search-input" type="text" placeholder="Type your question here">
                <div class="faq-result"></div>
                <div class="faq-tips">
                    <p>
                        <b><%- __('How do I get help?') %></b><br>
                        <%- __('Simply type your question in the search box above to get instant answers.<br>For better results, type more than one word and use a question phrasing. If you do not find a match try phrasing your question differently not a strict coincidence expected occurrence of each of the words separated by a space.') %>
                    </p>
                </div>
            </div>
            <!-- LIST -->
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                    aria-controls="collapse1">
                    Adjustable Peg
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse1" aria-controls="collapse1">
                    <div class="card card-body panel-content">
                        Exchange rate regimen where a currency’s exchange rate is pegged (fixed) in relation to a
                        stronger currency, such as the US Dollar or the Euro. The pegged rate is adjusted occasionally
                        in an attempt to improve the country’s competitive position. For example, China’s Yuan is
                        sometimes pegged to the US Dollar.
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Agio
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse2" aria-controls="collapse2">
                    <div class="card card-body panel-content">
                        A fee charged to exchange money from one currency to another.
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Arbitrage
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse3" aria-controls="collapse3">
                    <div class="card card-body panel-content">
                        This is the simultaneous buying and selling of foreign exchange pairs in order to realize a
                        profit from a discrepancy between foreign exchange rates in the market at the same time in
                        different markets.
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Ask
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse4" aria-controls="collapse4">
                    <div class="card card-body panel-content">
                        This is the price at which the foreign exchange pair or CFD is offered.
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse5" aria-expanded="false"
                    aria-controls="collapse5">
                    Asset Class
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse5" aria-controls="collapse5">
                    <div class="card card-body panel-content">
                        An item that has value; an investment such as stocks, options, or Forex.
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse6" aria-expanded="false"
                    aria-controls="collapse6">
                    At Best
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse6" aria-controls="collapse6">
                    <div class="card card-body panel-content">
                        An instruction provided to a broker to buy or sell at the best rate that is currently available
                        in the market.
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse7" aria-expanded="false"
                    aria-controls="collapse7">
                    AUD/USD
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse7" aria-controls="collapse7">
                    <div class="card card-body panel-content">
                        The abbreviation for the Australian dollar and U.S. dollar (AUD/USD) currency pair or cross. The
                        currency pair tells the reader how many U.S. dollars (the quote currency) are needed to purchase
                        one Australian dollar (the base currency).
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse9" aria-expanded="false"
                    aria-controls="collapse9">
                    Aussie
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse9" aria-controls="collapse9">
                    <div class="card card-body panel-content">
                        Slang for the AUD/USD currency pair.
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse10" aria-expanded="false"
                    aria-controls="collapse10">
                    Authorised Dealer
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse10" aria-controls="collapse10">
                    <div class="card card-body panel-content">
                        Depending on the regulatory body, a dealer authorised to deal in Foreign Exchange.
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse11" aria-expanded="false"
                    aria-controls="collapse11">
                    Automated Dealer
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse11" aria-controls="collapse11">
                    <div class="card card-body panel-content">
                        A trader who uses an automated system to input trades without any human input.
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse12" aria-expanded="false"
                    aria-controls="collapse12">
                    Back Office
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse12" aria-controls="collapse12">
                    <div class="card card-body panel-content">
                        A settlement system used by banks and brokers to process and report transactions.
                    </div>
                </div>
            </div>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse13" aria-expanded="false"
                    aria-controls="collapse13">
                    Balance-of-Payments
                    <span><i class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse13" aria-controls="collapse13">
                    <div class="card card-body panel-content">
                        System of recording a country’s economic transactions.
                    </div>
                </div>
            </div>

        </div>
    </main>
    <footer>
        <%- include ('../../../partials/footer') %>
    </footer>
</body>

</html>