<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">{Admin}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= activeClass === 1 ? "active" : "" %>">
                <a class="nav-link" href="/admin/news/news_list/1">News List</a>
            </li>
            <li class="nav-item <%= activeClass === 2 ? "active" : "" %>">
                <a class="nav-link" href="/admin/news/add_news">Add News</a>
            </li>
            <li class="nav-item <%= activeClass === 3 ? "active" : "" %>">
                <a class="nav-link" href="/admin/posts/posts_list/1">Posts List</a>
            </li>
            <li class="nav-item <%= activeClass === 4 ? "active" : "" %>">
                <a class="nav-link" href="/admin/posts/add_posts">Add Post</a>
            </li>
            <li class="nav-item <%= activeClass === 5 ? "active" : "" %>">
                <a class="nav-link" href="/admin/list_question/1">List Question</a>
            </li>
            <li class="nav-item <%= activeClass === 6 ? "active" : "" %>">
                <a class="nav-link" href="/admin/add_question">Add Question</a>
            </li>
            <li class="nav-item <%= activeClass === 7 ? "active" : "" %>">
                <a class="nav-link" href="/admin/tags">Tags</a>
            </li>
            <li class="nav-item <%= activeClass === 8 ? "active" : "" %>">
                <a class="nav-link" href="/admin/register">Admin Create</a>
            </li>
            <li class="nav-item <%= activeClass === 9 ? "active" : "" %>">
                <a class="nav-link" href="/admin/license">Add License</a>
            </li>
            <li class="nav-item <%= activeClass === 10 ? "active" : "" %>">
                <a class="nav-link" href="/admin/license/get_list_license">License List</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/admin/logout" method="POST">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
        </form>
    </div>
</nav>